body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.btn-add-coffee {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn-add-coffee:hover {
    background-color: #45a049;
}
